{% extends 'base.html.twig' %}

{% block title %}Создание новости{% endblock %}

{% block body %}
    <div class="h3 mb-3 font-weight-normal">Создание новой новости</div>

    {{ include('event/_form.html.twig') }}
{% endblock %}
